//
   Created by topa on 22.04.17.
html
    head
        link(rel="stylesheet", href="/style/style.css")
    body
        include login/login
script(src="/script/libs.min.js")
script(src="/script/bundle.min.js?v9591")